<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.909858770408-ggoe6a53kqa4oonqfvu8h513i18h5tvv</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>909858770408-ggoe6a53kqa4oonqfvu8h513i18h5tvv.apps.googleusercontent.com</string>
</dict>
</plist>
